<section data-ng-controller="UserAuthController">
  <!-- HEADER -->
  <div data-ng-include="'get_partials/user-header.html'"></div>
  <!-- CONTENT -->
  <div class="container">
      <br>
      <div class="content-block-mobile-view-adjuster"></div>
      <form name="userRegistrationForm" role="form" novalidate
            data-ng-submit="processUserRegistration(userData, userRegistrationForm.$valid)">
          <div data-ng-bind="requiredIsNotValid"></div>
          <div class="row form-group">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></div>
              <div class="col-lg-2 col-md-2 col-sm-2 register-form-left-col">
                <label class="control-label" for="inputEmail"
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputEmail.$invalid &&
                                                                 userRegistrationForm.$submitted }">
                  [ email addr ]
                </label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 register-form-right-col">
                <input type="email" name="inputEmail" class="form-control" placeholder=""
                       data-ng-model="userData.email" required
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputEmail.$invalid &&
                                                                 userRegistrationForm.$submitted }"></input>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></div>
              <div class="col-lg-2 col-md-2 col-sm-2 register-form-left-col">
                <label class="control-label" for="inputFirstname"
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputFirstname.$invalid &&
                                                                 userRegistrationForm.$submitted }">
                [ first name ]
               </label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 register-form-right-col">
                <input type="text" name="inputFirstname" class="form-control" placeholder=""
                       data-ng-model="userData.firstname" required pattern="[A-za-z]+"
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputFirstname.$invalid &&
                                                                 userRegistrationForm.$submitted }"></input>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></div>
              <div class="col-lg-2 col-md-2 col-sm-2 register-form-left-col">
                <label class="control-label" for="inputLastname"
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputLastname.$invalid &&
                                                                 userRegistrationForm.$submitted }">
                  [ last name ]
                </label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 register-form-right-col">
                <input type="text" name="inputLastname" class="form-control" placeholder=""
                       data-ng-model="userData.lastname" required pattern="[A-za-z]+"
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputLastname.$invalid &&
                                                                 userRegistrationForm.$submitted }"></input>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></div>
              <div class="col-lg-2 col-md-2 col-sm-2 register-form-left-col">
                <label class="control-label" for="inputPassword"
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputPassword.$invalid &&
                                                                 userRegistrationForm.$submitted }">
                  [ password ]
                </label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 register-form-right-col">
                <input type="password" name="inputPassword" class="form-control" placeholder=""
                       data-ng-model="userData.password" required
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputPassword.$invalid &&
                                                                 userRegistrationForm.$submitted }"></input>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></div>
              <div class="col-lg-2 col-md-2 col-sm-2 register-form-left-col">
                <label class="control-label" for="inputConfirmpwd"
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputConfirmpwd.$invalid &&
                                                                 userRegistrationForm.$submitted }">
                  [ confirm pwd ]
                </label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 register-form-right-col">
                <input type="password" name="inputConfirmpwd" class="form-control" placeholder=""
                       data-ng-model="userData.confirmPwd" required
                       data-ng-class="{ 'user-form-input-error': userRegistrationForm.inputConfirmpwd.$invalid &&
                                                                 userRegistrationForm.$submitted }"></input>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 register-form-btn-left-col">
                  <button type="submit" class="btn btn-default">register</button>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 register-form-btn-ctr-col">
                  <div>-or-</div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 register-form-btn-right-col">
                  <button class="btn btn-default" data-ng-click="clickSignInExtLink()">sign in</button>
              </div>
          </div>
      </form>
  </div>
</section>
