.login-form-label {
    padding-top: 5px;
}
.login-form-username-label {
    @extend .login-form-label; text-align: right;
    @include media-query-medium() {
        text-align: left; margin: 0 0 5px 0;
    }
    @include media-query-narrow() {
        text-align: left; margin: 10px 0 5px 0;
    }
}
.login-form-password-label {
    @extend .login-form-label;
    @include media-query-wide() {
        display: block;
    }
    @include media-query-medium() {
        display: none;
    }
    @include media-query-narrow() {
        display: none;
    }
}
.login-form-password-label-narrow-view {
    @extend .login-form-label;
    @include media-query-wide() {
        display: none;
    }
    @include media-query-medium() {
        display: block; margin: 10px 0 5px 0;
    }
    @include media-query-narrow() {
        display: block; margin: 10px 0 5px 0;
    }
}
.login-form-password-input {
    @include media-query-wide() {
        text-align: right;
    }
    @include media-query-medium() {
        text-align: left;
    }
    @include media-query-narrow() {
        text-align: left;
    }
}
.login-form-label-ctr-col {
    @extend .login-form-label; margin: 0 auto; width: 45px;
    @include media-query-medium() {
        display: none;
    }
    @include media-query-narrow() {
        display: none;
    }
}
.login-form-btn-section {
    margin-top: 20px;
    & > div:first-child {
      display: none;
      @include media-query-medium() {
          display: block;
      }
    }
}
.login-form-btn-ctr-col {
    margin-top: 20px;
    @include form-btn-ctr-col(33px);
}
